@model ConstructionCompany.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material.NameMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.NameMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionJpb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionJpb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceJob)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
