@model PagedList.IPagedList<ConstructionCompany.Models.Material>

@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materials</h2>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@using (Html.BeginForm("Index", "Materials", FormMethod.Get))
{
    <fieldset>
        NameMaterial: @Html.TextBox("MaterialFind", ViewBag.CurrentFilter as string)
        <input type="submit" value="to find" />
    </fieldset>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().NameMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Packaging)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DescriptionMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PriceMaterial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Packaging)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceMaterial)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.MaterialID })
            }
            @Html.Display("&nbsp;") |
            @Html.ActionLink("Details", "Details", new { id = item.MaterialID }) |

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.MaterialID })
            }
        </td>
    </tr>
}
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filter = ViewBag.CurrentFilter }))
</table>
